:root {
  --blue: hsl(246, 80%, 60%);
  --light-orange: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --ff: "Rubik", sans-serif;
}

body {
  font-family: var(--ff);
}

main {
  background: var(--very-dark-blue);
  min-height: 100vh;
  padding: 80px 24px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.dashboard {
  display: grid;
  gap: 24px;
}
.dashboard__main {
  background: var(--dark-blue);
  border-radius: 20px 20px 15px 15px;
}
.dashboard__work {
  background: url("../images/icon-work.svg"), var(--light-orange);
  background-position: top -10px right 18px;
}
.dashboard__play {
  background: url("../images/icon-play.svg"), var(--soft-blue);
  background-position: top -5px right 18px;
}
.dashboard__study {
  background: url("../images/icon-study.svg"), var(--light-red);
  background-position: top -6px right 18px;
}
.dashboard__exercise {
  background: url("../images/icon-exercise.svg"), var(--lime-green);
  background-position: top right 18px;
}
.dashboard__social {
  background: url("../images/icon-social.svg"), var(--violet);
  background-position: top -15px right 18px;
}
.dashboard__self-care {
  background: url("../images/icon-self-care.svg"), var(--soft-orange);
  background-position: top -10px right 18px;
}
.dashboard__container {
  background-repeat: no-repeat;
  border-radius: 15px 15px 20px 20px;
  display: flex;
  align-items: flex-end;
  padding-top: 38px;
}

.main__header {
  background: var(--blue);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 32px 28px;
}
.main__avatar {
  border: 3px solid white;
  border-radius: 50%;
  height: 70px;
  margin-right: 16px;
}
.main__heading {
  font-size: 0.9375rem;
  font-weight: 300;
  color: var(--pale-blue);
}
.main__name {
  font-size: 1.5rem;
  color: white;
  display: block;
}
.main__nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 28px;
}
.main__timeframe {
  display: block;
  font-size: 1.125rem;
  color: var(--desaturated-blue);
}
.main__timeframe:hover, .main__timeframe:focus-visible {
  color: white;
}
.main__timeframe--active {
  color: white;
}

.inner-container {
  cursor: pointer;
  background: var(--dark-blue);
  border-radius: 15px;
  width: 100%;
  padding: 30px 24px;
  transition: background 150ms;
}
.inner-container:hover {
  background: #34397b;
}
.inner-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.inner-container__heading {
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  line-height: 1;
}
.inner-container__button {
  padding: 5px 0;
}
.inner-container__button:hover .inner-container__ellipsis-icon__path, .inner-container__button:focus-visible .inner-container__ellipsis-icon__path {
  fill: white;
}
.inner-container__ellipsis-icon {
  display: block;
  height: 5px;
}
.inner-container__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-container__current-time {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  line-height: 1;
  margin-right: 20px;
}
.inner-container__previous-time {
  font-size: 0.9375rem;
  font-weight: 300;
  color: var(--pale-blue);
}

@media screen and (min-width: 700px) {
  .dashboard {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .dashboard__main {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 900px) {
  main {
    display: grid;
    place-items: center;
  }
  .dashboard {
    grid-template-columns: repeat(3, 255px);
  }
  .dashboard__container {
    padding-top: 45px;
  }
  .inner-container {
    padding: 30px 30px;
  }
  .inner-container__header {
    margin-bottom: 2rem;
  }
  .inner-container__info {
    display: block;
  }
  .inner-container__current-time {
    font-size: 3.4375rem;
    margin: 0 0 0.875rem 0;
  }
  .inner-container__previous-time {
    line-height: 1.3;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard {
    grid-template-columns: repeat(4, 255px);
  }
  .dashboard__main {
    grid-column: unset;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }
  .main__header {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 34px 30px;
  }
  .main__avatar {
    height: 84px;
    margin: 0 0 38px 0;
  }
  .main__heading {
    margin-left: 2px;
  }
  .main__name {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .main__nav {
    display: block;
    padding: 24px 32px 34px 32px;
  }
  .main__timeframe:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}/*# sourceMappingURL=style.css.map */